<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <title>Shift Admin Page</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Admin Email Sender</a>
    </div>
</nav>

<div class="">
    <!-- Page Content goes here -->
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col"><a name="profile-building" href="#">Profile Building</a></li>
                <li class="tab col"><a name="pre-connection" href="#">Pre Connection</a></li>
                <li class="tab col"><a name="shift-scheduled" href="#">Shift Scheduled</a></li>
                <li class="tab col"><a name="shift-today" href="#">Shift Today</a></li>
                <li class="tab col"><a name="post-connection" href="#">Post Connection</a></li>
                <li class="tab col"><a name="review" href="#">Review</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <form id="profile-building" class="col s5" method="post" action="/admin/send/profile-building">
            <h3>Profile Building Email Sender</h3>
            <div class="row">
                <div class="input-field col s3">
                    <input name="first_name" placeholder="First Name" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s3">
                    <input name="last_name" placeholder="Last Name" id="last_name" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input name="email" placeholder="Email" type="text" class="validate">
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Send Email</button>
        </form>

        <form id="pre-connection" class="col s5 hide" method="post" action="/admin/send/pre-connection">
            <h3>Pre-Connection Email Sender</h3>
            <div class="row">
                <div class="input-field col s3">
                    <input name="first_name" placeholder="First Name" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s3">
                    <input name="last_name" placeholder="Last Name" id="last_name" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input name="email" placeholder="Email" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name="match_first_name" placeholder="Match's First Name" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input name="match_last_name" placeholder="Match's Last Name" type="text" class="validate">
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Send Email</button>
        </form>

        <form id="shift-scheduled" class="col s5 hide" method="post" action="/admin/send/shift-scheduled">
            <h3>Shift Scheduled Email Sender</h3>
            <div class="row">
                <div class="input-field col s3">
                    <input name="first_name" placeholder="First Name" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s3">
                    <input name="last_name" placeholder="Last Name" id="last_name" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input name="email" placeholder="Email" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name="match_first_name" placeholder="Match's First Name" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input name="match_last_name" placeholder="Match's Last Name" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input name="timeOfShift" placeholder="Time of Shift" type="text" class="validate">
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Send Email</button>
        </form>

        <form id="shift-today" class="col s5 hide" method="post" action="/admin/send/shift-today">
            <h3>Shift Today Email Sender</h3>
            <div class="row">
                <div class="input-field col s3">
                    <input name="first_name" placeholder="First Name" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s3">
                    <input name="last_name" placeholder="Last Name" id="last_name" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input name="email" placeholder="Email" type="text" class="validate">
                </div>
            </div>
            <div class="input-field row">
                <input name="timeOfShift" placeholder="Time of Shift" type="text" class="validate">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Send Email</button>
        </form>

        <form id="post-connection" class="col s5 hide" method="post" action="/admin/send/post-connection">
            <h3>Post Connection Email Sender</h3>
            <div class="row">
                <div class="input-field col s3">
                    <input name="first_name" placeholder="First Name" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s3">
                    <input name="last_name" placeholder="Last Name" id="last_name" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input name="email" placeholder="Email" type="text" class="validate">
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Send Email</button>
        </form>

        <form id="review" class="col s5 hide" method="post" action="/admin/send/review">
            <h3>Review Email Sender</h3>
            <div class="row">
                <div class="input-field col s3">
                    <input name="first_name" placeholder="First Name" id="first_name" type="text" class="validate">
                </div>
                <div class="input-field col s3">
                    <input name="last_name" placeholder="Last Name" id="last_name" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input name="email" placeholder="Email" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name="match_first_name" placeholder="Match's First Name" type="text" class="validate">
                </div>
                <div class="input-field col s6">
                    <input name="match_last_name" placeholder="Match's Last Name" type="text" class="validate">
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Send Email</button>
        </form>

        <div class="col s7">
            <h3>Emails Sent</h3>
            <table>
                <thead>
                <tr>
                    <th data-field="date">Date</th>
                    <th data-field="id">First Name</th>
                    <th data-field="id">Last Name</th>
                    <th data-field="name">Email</th>
                    <th data-field="price">Template</th>
                </tr>
                </thead>

                <tbody>
                <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].date_time_sent %></td>
                    <td><%= data[i].first_name %></td>
                    <td><%= data[i].last_name %></td>
                    <td><%= data[i].email %></td>
                    <td><%= data[i].template %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>

<!--Basic script to show and hide form for sending email for different parts of the Shift Process-->
<script>
    var currentlyShowing = "profile-building";
    $(document).ready(function () {
        $("a").click(function (event) {
            show(event.target.name);
        });
    });

    function show(id) {
        hide(currentlyShowing);
        $("#" + id).removeClass("hide");
        currentlyShowing = id;
        console.log(currentlyShowing);
    }
    function hide(id) {
        $("#" + id).addClass("hide");
    }
</script>
</html>